.listing-photo {
  height: 600px;
  width: 50%;
  object-fit: cover;
  border-radius: 30px;
  float: right;
}
.listing-heading {
  color: var(--primary-color);
  font-size: 48pt;
  font-weight: bold;
  margin-bottom: 15px;
}
.listing-location::before {
  content: url('/assets/location-pin.svg');
  margin-right: 5px;
}
.listing-location {
  font-size: 24pt;
  margin-bottom: 20px;
}
.listing-features > h2 {
  color: var(--primary-color);
  font-size: 24pt;
  margin-bottom: 20px;
}
.listing-features {
  margin-bottom: 20px;
}
.listing-features li {
  font-size: 14pt;
}
li {
  list-style-type: none;
}
.section-heading {
  text-transform: uppercase;
  font-size: 18pt;
  margin-bottom: 15px;
}
