<section>
  <form (submit)="$event.preventDefault()">
    <input type="text" placeholder="Filter by city" #filter>
    <label for="dispo" #dispo>Solo disponible: </label>
    <input id="dispo" type="checkbox" >
    <label for="orden">     Orden: </label>
    <select id="orden" #orden>
      <option value="asc">Ascendente</option>
      <option value="des">Descendente</option>
    </select>
    <button class="primary" type="button" (click)="filterResults(filter.value, orden.value)">Search</button>
  </form>
</section>

<section class="results">
  @for (housingLocation of filteredLocationList; track housingLocation.id) {
    <app-housing-location [housingLocation]="housingLocation"></app-housing-location>
  } @empty {
    <p>No se encontraron viviendas que coincidan con los filtros</p>
  }
</section>
