.primary {
  padding: 10px;
  border: solid 1px #605DC8;
  background: #605DC8;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

input[type="text"] {
  border: solid 1px #605DC8;
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  display: inline-block;
  width: 30%;
}
.results {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin-top: 50px;
  justify-items: center;
}
