@import 'leaflet/dist/leaflet.css';

:root {
  --primary-color: #605DC8;
  --secondary-color: #8B89E6;
  --accent-color: #e8e7fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Además, añade esto para asegurar que el contenedor no colapse */
#map {
  display: block;
  width: 100% !important;
  height: 400px !important;
  z-index: 1; /* Para que no se superponga a otros elementos */
}
